<ion-header>

  <ion-navbar>

    <ion-grid no-padding>
      <ion-row align-items-center>
        <ion-col text-center col-8 offset-2>
          <ion-title><b>{{ 'GENERAL.TRANSACTIONS' | translate }}</b></ion-title>
        </ion-col>
        <ion-col text-right col-2 *ngIf="currentPeriod || !isEmptyObject(params.search)" >
          <button ion-button float-end text-capitalize clear color="clear" (click)="showAll()">{{ 'ALL' | translate }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-navbar>

  <ion-grid *ngIf="currentPeriod" class="period" text-center no-padding>
    <ion-row align-items-center>
      <ion-col col-2>
        <button (click)="goPrev()" small ion-button clear icon-only color="clear"><ion-icon name="arrow-back" md="ios-arrow-back"></ion-icon></button>
      </ion-col>
      <ion-col col-8>
        <div *ngIf="currentPeriod == 'day'; else notToday">
          {{ 'GENERAL.TODAY' | translate }}
        </div>
        <ng-template #notToday>
          <span text-capitalize>{{ 'GENERAL.THIS_' + currentPeriod.toUpperCase() | translate }}</span>
        </ng-template>
      </ion-col>
      <ion-col col-2>
        <button (click)="goNext()" small ion-button clear icon-only color="clear"><ion-icon name="arrow-forward" md="ios-arrow-forward"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content no-padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"></ion-refresher-content>
  </ion-refresher>

  <ion-grid no-padding *ngIf="transactions">
    <ion-row *ngIf="!showedSearchInput;else searchInput">
      <ion-col col-6>
        <button ion-button class="nav-btn" clear color="primary" (click)="sortBy()">{{ 'TRANSACTIONS_PAGE.SORT_BY' | translate }}</button>
      </ion-col>
      <ion-col col-6 text-right>
        <button *ngIf="!currentPeriod" ion-button class="nav-btn" clear color="primary" (click)="openSearch()">{{ 'TRANSACTIONS_PAGE.SEARCH_FILTERS' | translate }}</button>
        <button *ngIf="currentPeriod" small ion-button class="nav-btn" icon-only clear color="primary" (click)="showSearchInput(true)">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ng-template #searchInput>
      <ion-row>
        <ion-col col-12>
          <ion-item no-padding>
            <ion-label><ion-icon name="search"></ion-icon></ion-label>
            <ion-input placeholder="{{ 'TRANSACTIONS_PAGE.TEXT_INPUT' | translate }}" [(ngModel)]="searchInputValue" (input)="updateTransactions()"></ion-input>
            <button ion-button class="btn-cancel" clear item-end (click)="showSearchInput(false)">{{ 'CANCEL' | translate }}</button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>

  <ion-item-group *ngIf="transactions && transactions.length;else transactionsNotFound">
    <ion-item-divider class="header" sticky>
      <ion-label no-margin>
        <ion-row text-uppercase margin-right>
          <ion-col col-2><span class="col-name">{{ 'TRANSACTIONS_PAGE.DATE' | translate }}</span></ion-col>
          <ion-col col-5><span class="col-name">{{ 'TRANSACTIONS_PAGE.PRODUCT_NAME' | translate }}</span></ion-col>
          <ion-col col-5 text-right><span class="col-name">{{ 'TRANSACTIONS_PAGE.YOUR_EARNINGS' | translate }}</span></ion-col>
        </ion-row>
      </ion-label>
    </ion-item-divider>

    <button no-padding ion-item *ngFor="let transaction of transactions" (click)="openTransaction(transaction)">
      <ion-label no-margin>
        <ion-row margin-left align-items-center>
          <ion-col text-wrap col-2 class="transaction-date">{{ transaction.date | date:"dd/MM/yy" }} <br> {{ transaction.date | date:"HH:mm" }}</ion-col>
          <ion-col class="transaction-name-block" col-5>
            <p class="transaction-name">{{ transaction.name }}</p>
            <p class="transaction-id">{{ transaction.order_id }}</p>
          </ion-col>
          <ion-col col-5 text-right><span class="transaction-earning">{{ transaction.earning }}</span><ion-icon md="ios-arrow-forward" padding-left color="light"></ion-icon></ion-col>
        </ion-row>
      </ion-label>
    </button>
  </ion-item-group>

  <ng-template #transactionsNotFound>
    <ion-row class="transactions-not-found">
      <ion-col col-8 offset-2>
        <ion-item no-lines no-padding>
          <p>{{ 'TRANSACTIONS_PAGE.NO_RESULTS' | translate }}</p>
          <p text-wrap>{{ 'TRANSACTIONS_PAGE.SEE_ALL_TRANSACTIONS' | translate }}</p>
          <p><button no-margin ion-button clear (click)="openSearch()">{{ 'TRANSACTIONS_PAGE.SEARCH_FILTERS' | translate }}</button></p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ng-template>

</ion-content>

<section class="bottom-logo">
  <img src="assets/img/logo-long.png">
</section>
