page-transactions {
  .period {
    color: #ffffff;
    background-color: color($colors, primary);
    font-size: 1.6rem;
    line-height: 1.29;
    letter-spacing: -0.4px;
    font-weight: normal;
  }
  .transaction-name-block {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .transaction-date {
    font-size: 11px;
    line-height: 1.18;
    letter-spacing: 0.1px;
    text-align: left;
    color: #c1c4cb;
  }
  .transaction-name {
    font-size: 17px;
    line-height: 1.29;
    letter-spacing: -0.4px;
    text-align: left;
    color: #414141;
  }
  .transaction-id {
    font-size: 11px;
    line-height: 1.18;
    letter-spacing: 0.1px;
    text-align: left;
    color: #c1c4cb;
  }
  .transaction-earning {
    font-size: 17px;
    line-height: 1.29;
    letter-spacing: -0.4px;
    text-align: left;
    color: color($colors, activated, base);
  }
  .nav-btn {
    font-size: 17px;
    line-height: 1.29;
    letter-spacing: -0.4px;
    text-align: left;
    text-transform: capitalize;
    font-weight: normal;
  }
  .header {
    background-color: #fafafa;
    color: #c1c4cb;
  }
  .col-name {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: normal;
  }
  ion-grid.grid {
    ion-label.label.label-md {
      padding-left: 29px;
    }
    div.item-inner {
      box-shadow: none!important;
      border-bottom-color: #dedede!important;
    }
    button.btn-cancel.item-button.button.button-md.button-clear.button-clear-md {
        width: 53px;
        height: 22px;
        font-family: SFProText;
        font-size: 17px;
        line-height: 1.29;
        letter-spacing: -0.4px;
        text-transform: capitalize;
        color: #1998db;
    }
  }
  ion-row.transactions-not-found {
    margin-top: 10vh;
    ion-item {
      text-align: center;
      font-family: SFProText;
      font-size: 17px;
      line-height: 1.65;
      letter-spacing: -0.4px;
      color: #c1c4cb;
      button {
        text-transform: capitalize;
        color: #3247a1;
      }
      div.item-inner {
        padding: 0!important;
      }
    }
  }
  ion-header:after {
    height: 0!important;
  }
}
