<ion-header>

  <ion-navbar>
    <ion-title text-center>
      Transactions
    </ion-title>
    <ion-buttons *ngIf="currentPeriod" end>
      <button ion-button float-end text-capitalize clear color="clear" (click)="showAll()">All</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-padding>

  <ion-grid *ngIf="currentPeriod" class="period" text-center no-padding>
    <ion-row align-items-center>
      <ion-col col-2>
        <button (click)="goPrev()" small ion-button clear icon-only color="clear"><ion-icon name="arrow-back" md="ios-arrow-back"></ion-icon></button>
      </ion-col>
      <ion-col col-8>
        <div *ngIf="currentPeriod == 'day'; else notToday">
          Today
        </div>
        <ng-template #notToday>
          This <span text-capitalize>{{currentPeriod}}</span>
        </ng-template>
      </ion-col>
      <ion-col col-2>
        <button (click)="goNext()" small ion-button clear icon-only color="clear"><ion-icon name="arrow-forward" md="ios-arrow-forward"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding *ngIf="transactions">
    <ion-row *ngIf="!showedSearchInput;else searchInput">
      <ion-col col-6>
        <button ion-button class="nav-btn" clear color="primary" (click)="sortBy()">Sort By</button>
      </ion-col>
      <ion-col col-6 text-right>
        <button *ngIf="!currentPeriod" ion-button class="nav-btn" clear color="primary" (click)="openSearch()">Search & Filters</button>
        <button *ngIf="currentPeriod" small ion-button class="nav-btn" icon-only clear color="primary" (click)="showSearchInput(true)">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ng-template #searchInput>
      <ion-row>
        <ion-col col-12>
          <ion-item no-padding>
            <ion-label><ion-icon name="search"></ion-icon></ion-label>
            <ion-input placeholder="Text Input" [(ngModel)]="searchInputValue" (input)="updateTransactions()"></ion-input>
            <button ion-button class="btn-cancel" clear item-end (click)="showSearchInput(false)">Cancel</button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>

  <ion-item-group *ngIf="transactions && transactions.length;else transactionsNotFound">
    <ion-item-divider class="header">
      <ion-label no-margin>
        <ion-row text-uppercase margin-right>
          <ion-col col-2><span class="col-name">Date</span></ion-col>
          <ion-col col-5><span class="col-name">Product name/order ID</span></ion-col>
          <ion-col col-5 text-right><span class="col-name">Your Earnings</span></ion-col>
        </ion-row>
      </ion-label>
    </ion-item-divider>

    <button no-padding ion-item *ngFor="let transaction of transactions" (click)="openTransaction(transaction)">
      <ion-label no-margin>
        <ion-row margin-left align-items-center>
          <ion-col text-wrap col-2 class="transaction-date">{{ transaction.date | date:"yyyy.MM.dd HH:mm" }}</ion-col>
          <ion-col class="transaction-name-block" col-5>
            <p class="transaction-name">{{ transaction.name }}</p>
            <p class="transaction-id">{{ transaction.order_id }}</p>
          </ion-col>
          <ion-col col-5 text-right><span class="transaction-earning">{{ transaction.earning }}</span><ion-icon md="ios-arrow-forward" padding-left color="light"></ion-icon></ion-col>
        </ion-row>
      </ion-label>
    </button>
  </ion-item-group>

  <ng-template #transactionsNotFound>
    <ion-row class="transactions-not-found">
      <ion-col col-8 offset-2>
        <ion-item no-lines no-padding>
          <p>No results found.</p>
          <p>Try to go through all transactions.</p>
          <p><button no-margin ion-button clear (click)="openSearch()">Search & Filters</button></p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ng-template>

</ion-content>

<section class="bottom-logo">
  <img src="assets/img/logo-long.png">
</section>
