<ion-header no-border>

  <ion-navbar hideBackButton no-padding>

    <ion-grid [style.background-color]="result.status == 'success' ? '#35ce76' : '#ed1c24'">
      <ion-row align-items-center>
        <ion-col text-left col-2>
          <button no-padding text-capitalize ion-button clear color="clear" (click)="back()" icon-left [hidden]="result.status == 'success' && result.mode != 'modal'">
            <ion-icon name="ios-arrow-back"></ion-icon>{{'BACK' | translate}}
          </button>
        </ion-col>
        <ion-col text-center col-8>
          <ion-title><b>{{'E_TICKET_PAGE.E_TICKET_DETAILS' | translate}}</b></ion-title>
        </ion-col>
        <ion-col text-right col-2 *ngIf="result.status == 'success' && result.mode != 'modal'">
          <button no-padding text-capitalize clear color="clear" ion-button (click)="done()">{{'DONE' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list>

    <ion-list-header text-center no-margin text-capitalize [style.color]="result.status == 'success' ? '#35ce76' : '#ed1c24'">
      {{ result.status == 'success' ? ('E_TICKET_PAGE.E_TICKET_VALID' | translate) : result.mode != 'modal' ? ('E_TICKET_PAGE.FAILURE' | translate) : ('E_TICKET_PAGE.ALREADY_USED' | translate) }}
    </ion-list-header>

    <ion-label text-wrap class="message" margin>
      {{ result.msg }}
    </ion-label>

    <ion-grid>
      <ion-row align-items-center *ngIf="result.mode != 'modal' && result.status == 'success'">
        <ion-col col-3 class="first-col">
          {{'E_TICKET_PAGE.NUMBER' | translate}}
        </ion-col>
        <ion-col col-9 class="second-col">
          {{ params.ticket }}
        </ion-col>
      </ion-row>
      <ion-row align-items-center *ngIf="result.id">
        <ion-col col-3 class="first-col">
          {{'E_TICKET_PAGE.TICKET_ID' | translate}}
        </ion-col>
        <ion-col col-9 class="second-col">
          {{ result.id }}
        </ion-col>
      </ion-row>
      <br>
      <ion-row align-items-center *ngIf="result.first_name">
        <ion-col col-3 class="first-col">
          {{'E_TICKET_PAGE.FIRSTNAME' | translate}}
        </ion-col>
        <ion-col col-9 class="second-col">
          {{ result.first_name }}
        </ion-col>
      </ion-row>
      <ion-row align-items-center *ngIf="result.last_name">
        <ion-col col-3 class="first-col">
          {{'E_TICKET_PAGE.LASTNAME' | translate}}
        </ion-col>
        <ion-col col-9 class="second-col">
          {{ result.last_name }}
        </ion-col>
      </ion-row>
      <ion-row align-items-center *ngIf="result.email">
        <ion-col col-3 class="first-col">
          {{'E_TICKET_PAGE.EMAIL' | translate}}
        </ion-col>
        <ion-col col-9 class="second-col">
          {{ result.email }}
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>

  <button ion-button full outline text-capitalize class="pdf-btn" *ngIf="result.status == 'success' || result.mode == 'modal'" (click)="downloadPdf()">
    <img src="assets/img/ic-download-pdf@2x.png" class="ic_download_pdf">{{'E_TICKET_PAGE.DOWNLOAD_E_TICKET' | translate}}
  </button>

  <section padding class="ctrl-buttons" *ngIf="result.status == 'failure' && result.mode != 'modal'">
    <button (click)="retry()" ion-button block color="primary" text-capitalize>{{'E_TICKET_PAGE.RETRY' | translate}}</button>
    <button (click)="checkWithNumber()" ion-button block outline text-capitalize>{{'E_TICKET_PAGE.CHECK_WITH_NUMBER' | translate}}</button>
  </section>

</ion-content>

<ion-footer *ngIf="result.mode == 'modal' && result.status == 'success'">
  <button large ion-button full [style.background-color]="'#35ce76'" no-margin (click)="markTicket()">
    <b>{{'E_TICKET_PAGE.MARK_AS_USED' | translate}}</b>
  </button>
</ion-footer>
