page-login {
  .logo img {
    width: 100px;
  }

  .login-text p {
    font-size: 17px;
  }
  .login-text {
    padding: 26px 0;
  }

  .footer {
    padding-top: 40px;
    font-size: 13px;
  }
  .footer a {
    color: #3247a1;
  }
}
