<ion-content padding>

  <section class="navBar">
    <button (click)="cancel()" ion-button clear icon-left color="light"><ion-icon name="ios-arrow-back"></ion-icon>Cancel</button>
  </section>

  <section class="logo" text-center>
    <img class="logo-img" src="assets/img/logo-square.png">
  </section>

  <section class="login-text">
    <p class="color-light" text-center>Login to continue</p>
  </section>

  <form [formGroup]="loginForm">

    <ion-list>

      <ion-label *ngIf="showedError" class="err-message" no-margin>
        {{ showedError }}
      </ion-label>

      <ion-item no-margin no-padding>
        <ion-input formControlName="username" type="email" placeholder="Digistore24-ID/Email"></ion-input>
      </ion-item>
      <ion-row *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched && !loginForm.controls['username'].pristine">
        <ion-col>
          <sup ion-text color="danger">Digistore24-ID/Email is required</sup>
        </ion-col>
      </ion-row>

      <ion-item no-margin no-padding>
        <ion-input formControlName="password" #password type="{{pwdType}}" placeholder="Password" (ionBlur)="checkValid('password')"></ion-input>
        <button ion-button clear icon-only item-right (click)="showPassword()">
          <ion-icon name="ios-eye-outline" color="{{pwdType === 'password' ? 'light' : 'secondary' }}"></ion-icon>
        </button>
      </ion-item>
      <ion-row *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched && !loginForm.controls['password'].pristine">
        <ion-col>
          <sup ion-text color="danger">{{ showedErrorPass }}</sup>
        </ion-col>
      </ion-row>

    </ion-list>

  </form>

  <section>
    <button ion-button block [disabled]="!loginForm.valid" (click)="login()">Login</button>

    <section class="footer" text-center>
      <a (click)="openBrowser('https://www.digistore24.com/extern/login/new_password')">Forgot Password?</a>
      <br/>
      <p class="color-light" text-center>Not a member yet? <a (click)="openBrowser('https://www.digistore24.com/signup')">Register</a></p>
    </section>

  </section>

</ion-content>
