page-report-result {
  .result-status {
    font-size: 17px;
    line-height: 1.29;
    letter-spacing: -0.4px;
    text-align: center;
    color: #414141;
  }
  .result-message {
    font-size: 17px;
    line-height: 1.29;
    letter-spacing: -0.4px;
    text-align: center;
    color: #c1c4cb;
  }
  .bottom-logo {
    bottom: 0;
  }
}
