<ion-content padding>

  <section class="navBar">
    <button (click)="cancel()" ion-button clear icon-left color="light"><ion-icon name="ios-arrow-back"></ion-icon>{{ 'CANCEL' | translate }}</button>
  </section>

  <section class="logo" text-center>
    <img class="logo-img" src="assets/img/logo-square.png">
  </section>

  <section class="login-text">
    <p class="color-light" text-center>{{ 'LOGIN_PAGE.LOGIN_TO_CONTINUE' | translate }}</p>
  </section>

  <form [formGroup]="loginForm">

    <ion-list>

      <ion-label *ngIf="showedError" class="err-message" no-margin text-wrap>
        {{ showedError }}
      </ion-label>

      <ion-item no-margin no-padding>
        <ion-input formControlName="username" type="email" placeholder="{{ 'LOGIN_PAGE.DIGISTORE_ID_EMAIL' | translate }}"></ion-input>
      </ion-item>
      <ion-row *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched && !loginForm.controls['username'].pristine">
        <ion-col>
          <sup ion-text color="danger">{{ 'LOGIN_PAGE.DIGISTROE_ID_REQUIRED' | translate }}</sup>
        </ion-col>
      </ion-row>

      <ion-item no-margin no-padding>
        <ion-input [clearOnEdit]="false" formControlName="password" #password type="{{pwdType}}" placeholder="{{ 'LOGIN_PAGE.PASSWORD' | translate }}" (ionBlur)="checkValid('password')"></ion-input>
        <button ion-button clear icon-only item-right (click)="showPassword()">
          <ion-icon name="ios-eye-outline" color="{{pwdType === 'password' ? 'light' : 'secondary' }}"></ion-icon>
        </button>
      </ion-item>
      <ion-row *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched && !loginForm.controls['password'].pristine">
        <ion-col>
          <sup ion-text color="danger">{{ showedErrorPass }}</sup>
        </ion-col>
      </ion-row>

    </ion-list>

  </form>

  <section>
    <button ion-button block [disabled]="!loginForm.valid" (click)="login()">{{ 'LOGIN' | translate }}</button>

    <section class="footer" text-center>
      <a (click)="openBrowser('/extern/login/new_password')">{{ 'LOGIN_PAGE.FORGOT_PASSWORD' | translate }}</a>
      <br/>
      <p class="color-light" text-center>{{ 'LOGIN_PAGE.NOT_A_MEMBER' | translate }}&nbsp;<a (click)="openBrowser('/signup')">{{ 'LOGIN_PAGE.REGISTER' | translate }}</a></p>
    </section>

  </section>

</ion-content>
