page-transaction-details {
  .scroll-content {
    background: #fafafa;
  }
  p {
    margin: 0;
    font-size: 17px;
    line-height: 1.29;
    letter-spacing: -0.4px;
  }
  .label {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -0.1px;
    color: color($colors, light);
    text-transform: uppercase;
  }
  .bordered {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid #d1d1d6;
    border-bottom: 1px solid #d1d1d6;
  }
  .bordered ion-col:first-of-type {
    border-right: 1px solid #d1d1d6;
  }
  .bordered ion-col {
    padding: 2rem;
  }
  .product_name {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.3px;
    text-align: left;
    color: #3247a1;
  }
  .list ion-label {
    font-size: 17px;
    line-height: 1.29;
    letter-spacing: -0.4px;
    text-align: left;
    color: #687381;
    text-transform: capitalize;
  }
  .list ion-list-header ion-label {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -0.1px;
    text-align: left;
    color: #c1c4cb;
    text-transform: uppercase;
  }
  .list ion-list-header {
    background-color: #fafafa;
    margin: 0;
  }
  .list .item-content {
    color: #c1c4cb;
  }
  .divider {
    height: 30px;
    background-color: #fafafa;
  }
  .report-customer-btn {
    border-top: 1px solid #d1d1d6;
    border-bottom: 1px solid #d1d1d6;
  }
  .report-customer-btn .item-inner {
    border-bottom: 0 !important;
  }
  .report-customer-btn ion-label {
    font-size: 17px;
    line-height: 1.29;
    letter-spacing: -0.4px;
    text-align: left;
    color: #414142;
    text-transform: capitalize;
  }
}
