earning-home {
  .toolbar-md {
    padding: 4px 4px 0 4px;
    min-height: 44px;
  }

  ion-segment.toogle {
    background-color: #fafafa;
    border-radius: 20px!important;
    width: 260px;
    margin: 20px auto 0;
    border: none;
    ion-segment-button.segment-button {
      border: none;
      font-family: SFProText;
      font-size: 13px;
      height: 28px;
      line-height: 1.38;
      letter-spacing: -0.1px;
      padding: 4px 5px 6px 5px;
    }
    ion-segment-button.segment-button.segment-activated {
      border: none;
      border-radius: 20px!important;
    }
  }
  // ion-list common
  ion-list {
    .img-logo {
      width: 124px;
      height: 22px;
      margin-right: 7px;
    }
    ion-list-header.item.item-md.list-header.list-header-md {
      border-top: none;
      min-height: 22px;
      padding: 0;
      margin: 0;
      ion-label.label.label-md {
        font-family: SFProText;
        font-size: 17px;
        line-height: 1.29;
        letter-spacing: -0.4px;
        color: #687381;
        margin: 0;
      }
      ion-label.label.label-md.amount {
        height: 41px;
        font-family: SFProDisplay;
        text-align: center!important;
        font-size: 34px;
        font-weight: bold;
        line-height: 1.21;
        letter-spacing: 0.4px;
        text-align: left;
        color: #3247a1;
      }
    }
    ion-item-divider.item.item-divider.item-md.item-divider-md {
      background-color: #fafafa;
      height: 31px;
      ion-label.label.label-md {
        height: 19px;
        font-family: SFProText;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.38;
        letter-spacing: -0.1px;
        text-align: left;
        color: #c1c4cb;
      }
    }
    ion-item.logo.item.item-block.item-md {
      margin-top: 40px;
      padding: 0;
      min-height: 22px;
      ion-label.label.label-md {
        height: 22px;
        margin: 0 0 11px;
      }
    }
    button.item.item-block.item-md {
      min-height: 60px;
      font-family: SFProText;
      font-size: 17px;
      line-height: 1.29;
      letter-spacing: -0.4px;
      div.item-inner {
        border-bottom: 1px solid #dedede;
      }
      ion-label.label.label-md {
        padding-left: 29px;
        height: 22px;
        color: #687381;
      }
      div.total {
        height: 22px;
        font-weight: 500;
        text-align: right;
        color: #3247a1;
        padding-right: 8px;
      }
    }
  }

  // ion-list total
  ion-list.list-total {
    margin-top: 39px;
  }
  ion-list.list-total button ion-label {
    padding-left: 16px !important;
  }

  // ion-list month quarter year
  ion-list.list-month, ion-list.list-quarter, ion-list.list-year {
    margin-top: 21px;
    margin-bottom: 0;
    ion-list-header.item.item-md.list-header.list-header-md {
      background-color: #fafafa;
      text-align: right;
      height: 42px;
      border-bottom: 1px solid #d1d1d6;
      border-top: 1px solid #d1d1d6;
      .img-logo {
        margin-right: 15px;
      }
    }
    button.item.item-block.item-md {
      min-height: 45px;
      div.item-inner {
        height: 45px;
      }
      ion-label.label.label-md {
        padding-left: 16px;
        span {
          padding-left: 7px;
          font-size: 13px;
          line-height: 1.38;
          letter-spacing: -0.1px;
          text-align: left;
          color: #c1c4cb;
        }
      }
      div.total {
        ion-icon {
          top: 2px;
          position: relative;
          padding-left: 4px;
        }
      }
    }
  }
}
