<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title text-center>
      Earnings
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="total">
        Total
      </ion-segment-button>
      <ion-segment-button value="month">
        Month
      </ion-segment-button>
      <ion-segment-button value="quarter">
        Quarter
      </ion-segment-button>
      <ion-segment-button value="year">
        Year
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="segment">

    <ion-segment mode="ios" [(ngModel)]="toggle" class="toogle">
      <ion-segment-button value='brutto'>
        Gross
      </ion-segment-button>
      <ion-segment-button value='netto'>
        Net Commision
      </ion-segment-button>
    </ion-segment>

    <!--  ------------------------------------------- TOTAL AMOUNTS -----------------------------------------------  -->

    <ion-list class="list-total" *ngSwitchCase="'total'">

      <ion-list *ngIf="totalData">

        <ion-list-header text-center no-margin>
          <ion-label>
            {{ toggle == 'brutto' ? "Total Gross" : "Total Net" }}
          </ion-label>
        </ion-list-header>
        <ion-list-header text-center no-margin>
          <ion-label class="amount">
            {{ totalData[toggle].total | currency:'EUR':true }}
          </ion-label>
        </ion-list-header>

        <ion-item class="logo" text-end>
          <img class="img-logo" src="assets/img/logo-long.png">
        </ion-item>

        <button ion-item no-padding (click)="goToTransaction('day')">
          <ion-label>
            Today
          </ion-label>
          <div item-content class="total">
            {{ totalData[toggle].today | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" padding-left color="light"></ion-icon>
          </div>
        </button>

        <button ion-item no-padding (click)="goToTransaction('week')">
          <ion-label>
            This week
          </ion-label>
          <div item-content class="total">
            {{ totalData[toggle].week | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" padding-left color="light"></ion-icon>
          </div>
        </button>

        <button ion-item no-padding (click)="goToTransaction('month')">
          <ion-label>
            This month
          </ion-label>
          <div item-content class="total">
            {{ totalData[toggle].month | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" padding-left color="light"></ion-icon>
          </div>
        </button>

        <button ion-item no-padding (click)="goToTransaction('year')">
          <ion-label>
            This year
          </ion-label>
          <div item-content class="total">
            {{ totalData[toggle].year | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" padding-left color="light"></ion-icon>
          </div>
        </button>

      </ion-list>

    </ion-list>

    <!--  ------------------------------------------ MONTHLY AMOUNTS ----------------------------------------------  -->

    <ion-list class="list-month" *ngSwitchCase="'month'">
      <ion-list-header>
        <img class="img-logo" src="assets/img/logo-long.png">
      </ion-list-header>

      <div *ngIf="monthlyData.length > 0; else emptyResult">

        <div *ngFor="let obj of monthlyData">

          <ion-item-divider sticky>
            {{ obj.year }}
          </ion-item-divider>

          <button ion-item no-padding *ngFor="let month of obj.months">
            <ion-label>
              {{ month.name }}
            </ion-label>
            <div item-content class="total">
              {{ month[toggle] | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" color="light"></ion-icon>
            </div>
          </button>

        </div>

      </div>

    </ion-list>

    <!--  ----------------------------------------- QUARTERLY AMOUNTS ---------------------------------------------  -->

    <ion-list class="list-quarter" *ngSwitchCase="'quarter'">

      <ion-list-header>
        <img class="img-logo" src="assets/img/logo-long.png">
      </ion-list-header>

      <div *ngIf="quarterlyData.length > 0; else emptyResult">

        <div *ngFor="let obj of quarterlyData">
          <ion-item-divider sticky>
            {{obj.year}}
          </ion-item-divider>

          <button ion-item no-padding *ngFor="let quarter of obj.quarters">
            <ion-label>
              Q{{ quarter.number }} <span>{{ quarter.name }}</span>
            </ion-label>
            <div item-content class="total">
              {{ quarter[toggle] | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" color="light"></ion-icon>
            </div>
          </button>
        </div>

      </div>

    </ion-list>

    <!--  ------------------------------------------- YEARLY AMOUNTS ----------------------------------------------  -->

    <ion-list class="list-year" *ngSwitchCase="'year'">

      <ion-list-header>
        <img class="img-logo" src="assets/img/logo-long.png">
      </ion-list-header>

      <div *ngIf="yearlyData.length > 0; else emptyResult">

        <button ion-item no-padding *ngFor="let obj of yearlyData">
          <ion-label>
            {{ obj.year }}
          </ion-label>
          <div item-content class="total">
            {{ obj[toggle] | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" color="light"></ion-icon>
          </div>
        </button>

      </div>

    </ion-list>

    <ng-template #emptyResult>
      <ion-row class="empty-result">
        <ion-col col-8 offset-2>
          <ion-item no-lines no-padding>
            <p>No results found.</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-template>

  </div>
</ion-content>

