<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title text-center>
      Earning Overview
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="total">
        Total
      </ion-segment-button>
      <ion-segment-button value="month">
        Month
      </ion-segment-button>
      <ion-segment-button value="quarter">
        Quarter
      </ion-segment-button>
      <ion-segment-button value="year">
        Year
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="segment">

    <ion-segment mode="ios" [(ngModel)]="toggle" class="toogle">
      <ion-segment-button value='gross'>
        Gross
      </ion-segment-button>
      <ion-segment-button value='net'>
        Net Commision
      </ion-segment-button>
    </ion-segment>

    <!--  ------------------------------------------- TOTAL AMOUNTS -----------------------------------------------  -->

    <ion-list class="list-total" *ngSwitchCase="'total'">

      <ion-list>

        <ion-list-header text-center no-margin>
          <ion-label>
            {{ toggle == 'gross' ? "Total Gross" : "Total Net" }}
          </ion-label>
        </ion-list-header>
        <ion-list-header text-center no-margin>
          <ion-label class="amount">
            {{ amount | currency:'EUR':true }}
          </ion-label>
        </ion-list-header>

        <ion-item class="logo" text-end>
          <img class="img-logo" src="assets/img/logo-long.png">
        </ion-item>

        <button ion-item no-padding (click)="goToTransaction('day')">
          <ion-label>
            Today
          </ion-label>
          <div item-content class="total">
            {{ 1608.92 | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" padding-left color="light"></ion-icon>
          </div>
        </button>

        <button ion-item no-padding (click)="goToTransaction('week')">
          <ion-label>
            This week
          </ion-label>
          <div item-content class="total">
            {{ 11608.92 | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" padding-left color="light"></ion-icon>
          </div>
        </button>

        <button ion-item no-padding (click)="goToTransaction('month')">
          <ion-label>
            This month
          </ion-label>
          <div item-content class="total">
            {{ 38608.92 | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" padding-left color="light"></ion-icon>
          </div>
        </button>

        <button ion-item no-padding (click)="goToTransaction('year')">
          <ion-label>
            This year
          </ion-label>
          <div item-content class="total">
            {{ 138608.92 | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" padding-left color="light"></ion-icon>
          </div>
        </button>

      </ion-list>

    </ion-list>

    <!--  ------------------------------------------ MONTHLY AMOUNTS ----------------------------------------------  -->

    <ion-list class="list-month" *ngSwitchCase="'month'">
      <ion-list-header>
        <img class="img-logo" src="assets/img/logo-long.png">
      </ion-list-header>

      <ion-item-divider sticky>
        2017
      </ion-item-divider>

      <button ion-item no-padding>
        <ion-label>
          August
        </ion-label>
        <div item-content class="total">
          {{ 138608.92 | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" color="light"></ion-icon>
        </div>
      </button>

      <button ion-item no-padding>
        <ion-label>
          May
        </ion-label>
        <div item-content class="total">
          {{ 1388.92 | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" color="light"></ion-icon>
        </div>
      </button>

      <ion-item-divider sticky>
        2016
      </ion-item-divider>

      <button ion-item no-padding>
        <ion-label>
          April
        </ion-label>
        <div item-content class="total">
          {{ 13808.92 | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" color="light"></ion-icon>
        </div>
      </button>

      <button ion-item no-padding>
        <ion-label>
          March
        </ion-label>
        <div item-content class="total">
          {{ 13688.92 | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" color="light"></ion-icon>
        </div>
      </button>

    </ion-list>

    <!--  ----------------------------------------- QUARTERLY AMOUNTS ---------------------------------------------  -->

    <ion-list class="list-quarter" *ngSwitchCase="'quarter'">

      <ion-list-header>
        <img class="img-logo" src="assets/img/logo-long.png">
      </ion-list-header>

      <div *ngFor="let obj of quarterlyData">
        <ion-item-divider>
          {{obj.year}}
        </ion-item-divider>

        <button ion-item no-padding *ngFor="let amount of obj.quarters.reverse(), let i = index">
          <ion-label>
            Q{{ -1*(i-4) }} <span>{{ quarters[-1*(i-3)] }}</span>
          </ion-label>
          <div item-content class="total">
            {{ amount | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" color="light"></ion-icon>
          </div>
        </button>
      </div>

    </ion-list>

    <!--  ------------------------------------------- YEARLY AMOUNTS ----------------------------------------------  -->

    <ion-list class="list-year" *ngSwitchCase="'year'">

      <ion-list-header>
        <img class="img-logo" src="assets/img/logo-long.png">
      </ion-list-header>

      <button ion-item no-padding *ngFor="let obj of yearlyData">
        <ion-label>
          {{ obj.year }}
        </ion-label>
        <div item-content class="total">
          {{ obj.amount | currency:'EUR':true }} <ion-icon md="ios-arrow-forward" color="light"></ion-icon>
        </div>
      </button>

    </ion-list>

  </div>
</ion-content>

