<ion-header>

  <ion-navbar>

    <ion-grid no-padding>
      <ion-row align-items-center>
        <ion-col text-left col-3>
          <button class="arrow" ion-button clear color="clear" (click)="dismiss()" icon-left><ion-icon name="ios-arrow-back"></ion-icon></button>
        </ion-col>
        <ion-col text-center col-6>
          <ion-title><b>{{ 'SETTINGS_PAGE.ACCOUNT' | translate }}</b></ion-title>
        </ion-col>
        <ion-col text-right col-3>
          <button class="edit" ion-button float-end text-capitalize clear color="clear" (click)="edit()">{{ 'EDIT' | translate }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list radio-group [(ngModel)]="account" no-padding no-margin>
    <ion-item-sliding *ngFor="let user of authSrv.accounts">
      <ion-item mode="ios">
        <ion-label>{{ user.user_name }}<p class="mail">{{ user.user_email }}</p></ion-label>
        <ion-radio mode="ios" value="{{ user.user_id }}" (ionSelect)="authSrv.changeUser(user)"></ion-radio>
      </ion-item>
      <ion-item-options side="right" *ngIf="authSrv.user.user_id != user.user_id">
        <button class="trash" ion-button icon-only color="danger" (click)="delAccount(user)"><ion-icon name="ios-trash"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-item-divider>
  </ion-item-divider>

  <ion-list no-margin>

    <button no-padding ion-item (click)="addAccount()">
      <ion-label padding-left>
        <span class="new-account">{{ 'SETTINGS_PAGE.ADD_NEW_ACCOUNT' | translate }}</span>
      </ion-label>
    </button>

  </ion-list>

</ion-content>
