<ion-header>

  <ion-navbar>

    <ion-buttons left>
      <button class="arrow" text-capitalize ion-button clear color="clear" (click)="dismiss()" icon-left><ion-icon name="ios-arrow-back"></ion-icon></button>
    </ion-buttons>

    <ion-title padding-right text-center><b>{{'E_TICKET_PAGE.' + (pageName == 'E-Ticket template' ? 'TEMPLATE' : 'LOCATION') | translate }}</b></ion-title>

  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list radio-group [(ngModel)]="params.template.key" no-padding *ngIf="pageName == 'E-Ticket template'">
    <div *ngFor="let account of paramsFromServer.templates | keys">
      <ion-item-divider>
        {{'E_TICKET_PAGE.ACCOUNT_ID' | translate}} {{ paramsFromServer.owners[account.key] }}
      </ion-item-divider>
      <ion-item mode="ios" *ngFor="let template of account.value | keys, let i = index" [class.last]="i == template.num - 1">
        <ion-label color="dark">{{ template.value }}</ion-label>
        <ion-radio mode="ios" value="{{ template.key }}" (ionSelect)="changeParam('template', template)"></ion-radio>
      </ion-item>
    </div>
  </ion-list>

  <ion-list radio-group [(ngModel)]="params.location.key" no-padding *ngIf="pageName == 'Event location'">
    <div *ngFor="let account of paramsFromServer.locations | keys">
      <ion-item-divider>
        {{'E_TICKET_PAGE.ACCOUNT_ID' | translate}} {{ paramsFromServer.owners[account.key] }}
      </ion-item-divider>
      <ion-item mode="ios" *ngFor="let location of account.value | keys, let i = index" [class.last]="i == location.num - 1">
        <ion-label color="dark">{{ location.value }}</ion-label>
        <ion-radio mode="ios" value="{{ location.key }}" (ionSelect)="changeParam('location', location)"></ion-radio>
      </ion-item>
    </div>
  </ion-list>

</ion-content>

<section class="hideElementOnKeyboardShown bottom-logo">
  <img src="assets/img/logo-long.png">
</section>
