// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../../node_modules/ionic2-auto-complete/auto-complete";

@font-face {
  font-family: 'SFProText';
  src:url('../assets/fonts/SanFranciscoText-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SFProText";
}

.color-light {
  color: color($colors, light, base);
}
.toolbar-background {
  background-color: color($colors, primary, base);;
}
.toolbar-title {
  color: #ffffff;
  font-size: 1.7rem;
}
.toolbar .segment-button {
  color: #ffffff;
}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
  border-color: #ffffff;
}

.button-block {
  border-radius: 8px;
  text-transform: capitalize;
  font-size: 20px;
  height: 5.6rem;
}

// Bottom transparent company logo
.bottom-logo {
  height: 5rem;
  width: 100%;
  background: rgba(255,255,255,0.9);
  position: fixed;
  bottom: 5.6rem;
  z-index: 10;
  text-align: center;
}
.bottom-logo img {
  height: 3rem;
  margin: 1rem 0;
}
body.keyboard-is-open .hideElementOnKeyboardShown{
  display: none;
}

// Add bottom padding to show content under the logo (need to add for all pages with this logo)
page-report .scroll-content, page-search .scroll-content, page-transactions .scroll-content, page-sort-by .scroll-content {
  padding-bottom: 5rem !important;
}

.white-bg {
  background-color: #fff;
}
.subtitle {
  font-size: 1.6rem;
  line-height: 1.29;
  letter-spacing: -0.4px;
  text-align: center;
  color: #ffffff;
}


.tab-button[aria-selected=false] {
  .ion-md-custom-earning {
    content: url(../assets/img/ic_earnings.svg);
    width: 26px;
    height: 20px;
  }
}
.tab-button[aria-selected=true] {
  .tab-button-text {
    color: #3247a1;
  }
  .ion-md-custom-earning {
    content: url(../assets/img/ic_earnings_active.svg);
    width: 26px;
    height: 20px;
  }
}
.tab-button[aria-selected=false] {
  .ion-md-custom-transactions {
    content: url(../assets/img/ic_transactions.svg);
    width: 26px;
    height: 20px;
  }
}
.tab-button[aria-selected=true] {
  .tab-button-text {
    color: #3247a1;
  }
  .ion-md-custom-transactions {
    content: url(../assets/img/ic_transactions_active.svg);
    width: 26px;
    height: 20px;
  }
}
.tab-button[aria-selected=false] {
  .ion-md-custom-e-ticket {
    content: url(../assets/img/ic_e-ticket.svg);
    width: 26px;
    height: 20px;
  }
}
.tab-button[aria-selected=true] {
  .tab-button-text {
    color: #3247a1;
  }
  .ion-md-custom-e-ticket  {
    content: url(../assets/img/ic_e-ticket_active.svg);
    width: 26px;
    height: 20px;
  }
}
.tab-button[aria-selected=false] {
  .ion-md-custom-settings {
    content: url(../assets/img/ic_settings.svg);
    width: 26px;
    height: 20px;
  }
}
.tab-button[aria-selected=true] {
  .tab-button-text {
    color: #3247a1;
  }
  .ion-md-custom-settings {
    content: url(../assets/img/ic_settings_active.svg);
    width: 26px;
    height: 20px;
  }
}

body.hidden-tabbar .tabbar{
  display: none;
}
body.hidden-tabbar-when-scan .tabbar{
  display: none;
}