page-ticket {
  ion-content.content {
    background-color: #fafafa;
    .scroll-content {
      border-top: none!important;
    }
    ion-list {
      .empty-param {
        background-color: #FBD2D3;
      }
      .item-content {
        width: 50vw;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: end;
      }
    }
  }
  ion-icon {
    top: 1px;
    position: relative;
    padding-left: 4px;
  }
  .btn-question {
    height: 48px;
    top: 35vh;
    background-color: #ffffff;
    border-color: #d1d1d6;
    font-family: SFProText;
    text-transform: none;
    font-size: 17px;
    line-height: 1.29;
    letter-spacing: -0.4px;
    color: #3247a1;
  }
  ion-footer.footer.footer-md::before {
    background-image: none;
  }
}
