page-edit {
  button.arrow {
    padding-left: 2px;
    padding-right: 20px;
    ion-icon.ion-ios-arrow-back {
      font-size: 2.3em;
    }
  }
  button.done {
    font-family: SFProText;
    font-size: 17px;
    line-height: 1.29;
    letter-spacing: -0.4px;
    text-align: right;
    color: #ffffff;
  }
  ion-content.content {
    background-color: #fafafa;
  }
}
