page-ticket-search-results {
  .scroll-content {
    background: #fafafa;
  }
  .header {
    background-color: #fafafa;
    color: #c1c4cb;
  }
  .toolbar-title-md {
    padding: 0 26px 0 0;
  }
  .col-name {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: normal;
  }
  .col-order {
    font-family: SFProText;
    font-size: 17px;
    line-height: 1.29;
    letter-spacing: -0.4px;
    color: #414141;
    text-transform: uppercase;
  }
  .col-status {
    font-family: SFProText;
    font-size: 17px;
    line-height: 1.29;
    letter-spacing: -0.4px;
    text-transform: capitalize;
  }
  button.item {
    div.input-wrapper {
      height: 56px;
    }
  }
  ion-row.empty-result {
    margin-top: 20vh;
    ion-item {
      background-color: inherit;
      text-align: center;
      font-family: SFProText;
      font-size: 17px;
      line-height: 1.65;
      letter-spacing: -0.4px;
      color: #c1c4cb;
    }
  }
}
